
## Step 1 Load CSVs

In [2]:
# --- Minimal loader for Telco datasets ---
from pathlib import Path
import pandas as pd

# 1) Point to your repo root (adjust only if your path is different)
ROOT = Path(r"C:\Users\miga\Documents\GitHub\Project_EDSB")
DATA_RAW = ROOT / "data" / "raw"
print("DATA_RAW:", DATA_RAW)

# 2) Files to load
files = {
    "demographics": "Telco_customer_churn_demographics.csv",
    "location":     "Telco_customer_churn_location.csv",
    "population":   "Telco_customer_churn_population.csv",
    "services":     "Telco_customer_churn_services.csv",
    "status":       "Telco_customer_churn_status.csv",
}

# 3) Read (auto-detects comma vs semicolon) + sanity checks
dfs = {}
for name, fname in files.items():
    path = DATA_RAW / fname
    if not path.exists():
        raise FileNotFoundError(f"Missing file: {path}")
    df = pd.read_csv(path, sep=None, engine="python", encoding="utf-8-sig")
    dfs[name] = df

# 4) Show shapes + full column names (short, no truncation)
for name, df in dfs.items():
    print(f"\n{name}: {df.shape}")
    print(df.columns.tolist())

# Optional: keep as variables for later steps
demographics = dfs["demographics"]
location     = dfs["location"]
population   = dfs["population"]
services     = dfs["services"]
status       = dfs["status"]

DATA_RAW: C:\Users\miga\Documents\GitHub\Project_EDSB\data\raw

demographics: (7043, 9)
['Customer ID', 'Count', 'Gender', 'Age', 'Under 30', 'Senior Citizen', 'Married', 'Dependents', 'Number of Dependents']

location: (7043, 9)
['Customer ID', 'Count', 'Country', 'State', 'City', 'Zip Code', 'Lat Long', 'Latitude', 'Longitude']

population: (1671, 3)
['ID', 'Zip Code', 'Population']

services: (7043, 30)
['Customer ID', 'Count', 'Quarter', 'Referred a Friend', 'Number of Referrals', 'Tenure in Months', 'Offer', 'Phone Service', 'Avg Monthly Long Distance Charges', 'Multiple Lines', 'Internet Service', 'Internet Type', 'Avg Monthly GB Download', 'Online Security', 'Online Backup', 'Device Protection Plan', 'Premium Tech Support', 'Streaming TV', 'Streaming Movies', 'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing', 'Payment Method', 'Monthly Charge', 'Total Charges', 'Total Refunds', 'Total Extra Data Charges', 'Total Long Distance Charges', 'Total Revenue']

status: (7043, 11)
['Customer ID', 'Count', 'Quarter', 'Satisfaction Score', 'Customer Status', 'Churn Label', 'Churn Value', 'Churn Score', 'CLTV', 'Churn Category', 'Churn Reason']

## Step 2: Initial Data Exploration and Light Cleaning
- Let's explore each dataset individually first using pandas profiling

In [3]:
%pip install ydata-profiling

Requirement already satisfied: ydata-profiling in c:\users\miga\appdata\local\anaconda3\lib\site-packages (4.18.0)
Requirement already satisfied: scipy<1.17,>=1.8 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (1.13.1)
Requirement already satisfied: pandas!=1.4.0,<3.0,>1.5 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (2.2.2)
Requirement already satisfied: matplotlib<=3.10,>=3.5 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (3.9.2)
Requirement already satisfied: pydantic<3,>=2 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (2.11.4)
Requirement already satisfied: PyYAML<6.1,>=6.0.3 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (6.0.3)
Requirement already satisfied: jinja2<3.2,>=3.1.6 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (3.1.6)
Requirement already satisfied: visions<0.8.2,>=0.7.5 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (0.8.1)
Requirement already satisfied: numpy<2.4,>=1.22 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (1.26.4)
Requirement already satisfied: minify-html>=0.15.0 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (0.18.1)
Requirement already satisfied: filetype>=1.0.0 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (1.2.0)
Requirement already satisfied: phik<0.13,>=0.12.5 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (0.12.5)
Requirement already satisfied: requests<3,>=2.32.0 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (2.32.3)
Requirement already satisfied: tqdm<5,>=4.66.3 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (4.66.5)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (0.13.2)
Requirement already satisfied: multimethod<2,>=1.4 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (1.12)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (0.14.2)
Requirement already satisfied: typeguard<5,>=4 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (4.4.4)
Requirement already satisfied: imagehash==4.3.2 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (4.3.2)
Requirement already satisfied: wordcloud>=1.9.4 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (1.9.4)
Requirement already satisfied: dacite<2,>=1.9 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (1.9.2)
Requirement already satisfied: numba<0.63,>=0.60 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from ydata-profiling) (0.60.0)
Requirement already satisfied: PyWavelets in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from imagehash==4.3.2->ydata-profiling) (1.7.0)
Requirement already satisfied: pillow in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from imagehash==4.3.2->ydata-profiling) (10.4.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from jinja2<3.2,>=3.1.6->ydata-profiling) (2.1.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (24.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (2.9.0.post0)
Requirement already satisfied: llvmlite<0.44,>=0.43.0dev0 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from numba<0.63,>=0.60->ydata-profiling) (0.43.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from pandas!=1.4.0,<3.0,>1.5->ydata-profiling) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from pandas!=1.4.0,<3.0,>1.5->ydata-profiling) (2023.3)
Requirement already satisfied: joblib>=0.14.1 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from phik<0.13,>=0.12.5->ydata-profiling) (1.4.2)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from pydantic<3,>=2->ydata-profiling) (0.6.0)
Requirement already satisfied: pydantic-core==2.33.2 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from pydantic<3,>=2->ydata-profiling) (2.33.2)
Requirement already satisfied: typing-extensions>=4.12.2 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from pydantic<3,>=2->ydata-profiling) (4.15.0)
Requirement already satisfied: typing-inspection>=0.4.0 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from pydantic<3,>=2->ydata-profiling) (0.4.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from requests<3,>=2.32.0->ydata-profiling) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from requests<3,>=2.32.0->ydata-profiling) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from requests<3,>=2.32.0->ydata-profiling) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from requests<3,>=2.32.0->ydata-profiling) (2025.1.31)
Requirement already satisfied: patsy>=0.5.6 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (0.5.6)
Requirement already satisfied: colorama in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from tqdm<5,>=4.66.3->ydata-profiling) (0.4.6)
Requirement already satisfied: attrs>=19.3.0 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (23.1.0)
Requirement already satisfied: networkx>=2.4 in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (3.3)
Requirement already satisfied: puremagic in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (1.30)
Requirement already satisfied: six in c:\users\miga\appdata\local\anaconda3\lib\site-packages (from patsy>=0.5.6->statsmodels<1,>=0.13.2->ydata-profiling) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
# Set up reports folder

from pathlib import Path

# ROOT should already exist from your previous cell.
# If not, uncomment and set it:
# ROOT = Path(r"C:/Users/Miguel/Documents/GitHub/Project_EDS")

REPORTS_DIR = ROOT / "reports" / "profiling_raw_tables"
REPORTS_DIR.mkdir(parents=True, exist_ok=True)

In [5]:
# Generate YData Profiling reports for each raw table

from ydata_profiling import ProfileReport

def create_profile(df, name: str, output_dir: Path = REPORTS_DIR):
    """
    Generate a YData Profiling HTML report for a dataframe.
    """
    print(f"üîç Creating profile for: {name} ...")
    profile = ProfileReport(
        df,
        title=f"Telco Customer Churn ‚Äì {name} table",
        explorative=True,     # richer report
        minimal=False
    )
    output_path = output_dir / f"{name}_profiling.html"
    profile.to_file(output_path)
    print(f"‚úÖ Saved: {output_path}\n")

# If dfs was created in Step 1, it should contain:
# 'demographics', 'location', 'population', 'services', 'status'
for name, df in dfs.items():
    create_profile(df, name)

üîç Creating profile for: demographics ...

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 9/9 [00:00<00:00, 281.25it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

‚úÖ Saved: C:\Users\miga\Documents\GitHub\Project_EDSB\reports\profiling_raw_tables\demographics_profiling.html

üîç Creating profile for: location ...

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 9/9 [00:00<00:00, 160.71it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

‚úÖ Saved: C:\Users\miga\Documents\GitHub\Project_EDSB\reports\profiling_raw_tables\location_profiling.html

üîç Creating profile for: population ...

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 3/3 [00:00<00:00, 499.30it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

‚úÖ Saved: C:\Users\miga\Documents\GitHub\Project_EDSB\reports\profiling_raw_tables\population_profiling.html

üîç Creating profile for: services ...

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 30/30 [00:00<00:00, 1873.91it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

‚úÖ Saved: C:\Users\miga\Documents\GitHub\Project_EDSB\reports\profiling_raw_tables\services_profiling.html

üîç Creating profile for: status ...

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 11/11 [00:00<00:00, 114.58it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

‚úÖ Saved: C:\Users\miga\Documents\GitHub\Project_EDSB\reports\profiling_raw_tables\status_profiling.html

2.1 Demographics table insights:
- No missing values, no duplicates, no constant columns.
- No pre-merge cleaning required.

2.2.1 Location table pre-merge cleaninhg

In [6]:
# Helper to standardize column names
def standardize_columns(df):
    df = df.copy()
    df.columns = (
        df.columns
        .str.strip()
        .str.lower()
        .str.replace(" ", "_")
        .str.replace("-", "_")
        .str.replace("/", "_")
    )
    return df

In [7]:
# Start from the raw location df in dfs
location = dfs["location"].copy()

# 1) Standardize column names
location = standardize_columns(location)
print("Location columns after standardize:", location.columns.tolist())

# 2) Drop unneeded columns IF they exist
cols_to_drop = [c for c in ["count", "lat_long", "country"] if c in location.columns]
location = location.drop(columns=cols_to_drop)
print("Dropped columns:", cols_to_drop)

# 3) Convert zip_code to 5-char string
if "zip_code" in location.columns:
    location["zip_code"] = (
        location["zip_code"]
        .astype(str)
        .str.zfill(5)
    )

location.head()

Location columns after standardize: ['customer_id', 'count', 'country', 'state', 'city', 'zip_code', 'lat_long', 'latitude', 'longitude']
Dropped columns: ['count', 'lat_long', 'country']

  customer_id       state         city zip_code   latitude   longitude
0  8779-QRDMV  California  Los Angeles    90022  34.023810 -118.156582
1  7495-OOKFY  California  Los Angeles    90063  34.044271 -118.185237
2  1658-BYGOY  California  Los Angeles    90065  34.108833 -118.229715
3  4598-XLKNJ  California    Inglewood    90303  33.936291 -118.332639
4  4846-WHAFZ  California     Whittier    90602  33.972119 -118.020188

2.3 Population Table insights: 
- No missing values, no duplicate rows, no obvious data quality alerts.
- We'll drop unneeded ID column as it is just an internal index and we have Zip Code to merge to the main table.
- We'll make sure Zip Code has the same format as in the location table (string, 5-digit, left-paded)
- Standardise column names

2.3.1 Population table pre-merging cleaning

In [8]:
# 2.2.2 Population table pre-merge cleaning

# 1) Inspect current structure (optional sanity check)
print(population.head())
print(population.info())

# 2) Drop unneeded technical ID column
if "ID" in population.columns:
    population = population.drop(columns=["ID"])

# 3) Ensure Zip Code is a 5-char string aligned with `location`
if "Zip Code" in population.columns:
    population["Zip Code"] = (
        population["Zip Code"]
        .astype(str)
        .str.zfill(5)
    )

# 4) Standardise column names
population = population.rename(
    columns={
        "Zip Code": "zip_code",
        "Population": "population"
    }
)

# 5) Quick check after cleaning
print(population.head())
print(population.describe(include="all"))

   ID  Zip Code  Population
0   1     90001       54492
1   2     90002       44586
2   3     90003       58198
3   4     90004       67852
4   5     90005       43019
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1671 entries, 0 to 1670
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          1671 non-null   int64
 1   Zip Code    1671 non-null   int64
 2   Population  1671 non-null   int64
dtypes: int64(3)
memory usage: 39.3 KB
None
  zip_code  population
0    90001       54492
1    90002       44586
2    90003       58198
3    90004       67852
4    90005       43019
       zip_code     population
count      1671    1671.000000
unique     1671            NaN
top       90001            NaN
freq          1            NaN
mean        NaN   20276.384201
std         NaN   20689.117300
min         NaN      11.000000
25%         NaN    1789.000000
50%         NaN   14239.000000
75%         NaN   32942.500000
max         NaN  105285.000000

2.4 Services Table insights:
- 55% of the Offer column values are missing.
- 21.7% of Internet Type column values are missing.

2.4.1 Services Table pre-merging cleaning

In [9]:
# 2.3 Services table pre-merge cleaning

# Start from raw services df
services = dfs["services"].copy()

# 1) Standardize column names
services = standardize_columns(services)
print("Services columns after standardize:", services.columns.tolist())

# 2) Drop unneeded columns
# - 'count' is just a counter
# - 'quarter' we will keep from status table instead
cols_to_drop = [c for c in ["count", "quarter"] if c in services.columns]
services = services.drop(columns=cols_to_drop)
print("Dropped columns from services:", cols_to_drop)

# 3) Ensure customer_id is string
if "customer_id" in services.columns:
    services["customer_id"] = services["customer_id"].astype(str)

# 4) Make sure numeric columns are really numeric
num_cols = [
    "number_of_referrals",
    "tenure_in_months",
    "avg_monthly_long_distance_charges",
    "avg_monthly_gb_download",
    "monthly_charge",
    "total_charges",
    "total_refunds",
    "total_extra_data_charges",
    "total_long_distance_charges",
]

for col in num_cols:
    if col in services.columns:
        services[col] = pd.to_numeric(services[col], errors="coerce")

# 5) Quick check
print("\nMissing values in key columns:")
cols_to_check = ["offer", "internet_type"] + num_cols
cols_to_check = [c for c in cols_to_check if c in services.columns]
print(services[cols_to_check].isna().sum())

services.head()

Services columns after standardize: ['customer_id', 'count', 'quarter', 'referred_a_friend', 'number_of_referrals', 'tenure_in_months', 'offer', 'phone_service', 'avg_monthly_long_distance_charges', 'multiple_lines', 'internet_service', 'internet_type', 'avg_monthly_gb_download', 'online_security', 'online_backup', 'device_protection_plan', 'premium_tech_support', 'streaming_tv', 'streaming_movies', 'streaming_music', 'unlimited_data', 'contract', 'paperless_billing', 'payment_method', 'monthly_charge', 'total_charges', 'total_refunds', 'total_extra_data_charges', 'total_long_distance_charges', 'total_revenue']
Dropped columns from services: ['count', 'quarter']

Missing values in key columns:
offer                                3877
internet_type                        1526
number_of_referrals                     0
tenure_in_months                        0
avg_monthly_long_distance_charges       0
avg_monthly_gb_download                 0
monthly_charge                          0
total_charges                           0
total_refunds                           0
total_extra_data_charges                0
total_long_distance_charges             0
dtype: int64

,customer_id,referred_a_friend,number_of_referrals,tenure_in_months,offer,phone_service,avg_monthly_long_distance_charges,multiple_lines,internet_service,internet_type,...,unlimited_data,contract,paperless_billing,payment_method,monthly_charge,total_charges,total_refunds,total_extra_data_charges,total_long_distance_charges,total_revenue
0,8779-QRDMV,No,0,1,NaN,No,0.00,No,Yes,DSL,...,No,Month-to-Month,Yes,Bank Withdrawal,39.65,39.65,0.00,20,0.00,59.65
1,7495-OOKFY,Yes,1,8,Offer E,Yes,48.85,Yes,Yes,Fiber Optic,...,Yes,Month-to-Month,Yes,Credit Card,80.65,633.30,0.00,0,390.80,1024.10
2,1658-BYGOY,No,0,18,Offer D,Yes,11.33,Yes,Yes,Fiber Optic,...,Yes,Month-to-Month,Yes,Bank Withdrawal,95.45,1752.55,45.61,0,203.94,1910.88
3,4598-XLKNJ,Yes,1,25,Offer C,Yes,19.76,No,Yes,Fiber Optic,...,Yes,Month-to-Month,Yes,Bank Withdrawal,98.50,2514.50,13.43,0,494.00,2995.07
4,4846-WHAFZ,Yes,1,37,Offer C,Yes,6.33,Yes,Yes,Fiber Optic,...,Yes,Month-to-Month,Yes,Bank Withdrawal,76.50,2868.15,0.00,0,234.21,3102.36

2.5 Status Table Insights:
- Customer Status is one of the main target-like business variables, even though we might use "Churn Label" as the true target.
- Churn Label / Churn Category / Churn Reason / Churn Value / Churn Score / Satisfaction Score / CLTV are all strongly correlated with each other. That means there's a lot of redundancy and we might drop some of them to avoid leakage. 
- Churn Category and Churn Reason have 73.5% missing values each.

2.5.1 Statues Table pre-merging cleaning:

**Keep (for now):**
- Customer Status
- Churn Label (this is likely our main target)
- Churn Score
- Satisfaction Score
- CLTV
- Churn Value (we might later drop it if it‚Äôs just a numeric encoding of Churn Label)

**Flag but don‚Äôt immediately drop:**

- Churn Category, Churn Reason. Because they have 73% missing, we probably won‚Äôt use them in the final model, but I‚Äôd keep them through EDA just in case they help with business interpretation.

In [10]:
# 2.4 Status table pre-merge cleaning

# Start from raw status df
status = dfs["status"].copy()

# 1) Standardize column names
status = standardize_columns(status)
print("Status columns after standardize:", status.columns.tolist())

# 2) Drop unneeded columns (only 'count' in this table)
cols_to_drop = [c for c in ["count"] if c in status.columns]
status = status.drop(columns=cols_to_drop)
print("Dropped columns from status:", cols_to_drop)

# 3) Ensure customer_id is string
if "customer_id" in status.columns:
    status["customer_id"] = status["customer_id"].astype(str)

# 4) Make sure numeric fields are numeric (using snake_case names)
num_cols = ["churn_score", "cltv", "churn_value", "satisfaction_score"]
for col in num_cols:
    if col in status.columns:
        status[col] = pd.to_numeric(status[col], errors="coerce")

# 5) Quick sanity check
print("\nDtypes after cleaning:")
print(status.dtypes)

print("\nMissing values per column:")
print(status.isna().sum())

status.head()

Status columns after standardize: ['customer_id', 'count', 'quarter', 'satisfaction_score', 'customer_status', 'churn_label', 'churn_value', 'churn_score', 'cltv', 'churn_category', 'churn_reason']
Dropped columns from status: ['count']

Dtypes after cleaning:
customer_id           object
quarter               object
satisfaction_score     int64
customer_status       object
churn_label           object
churn_value            int64
churn_score            int64
cltv                   int64
churn_category        object
churn_reason          object
dtype: object

Missing values per column:
customer_id              0
quarter                  0
satisfaction_score       0
customer_status          0
churn_label              0
churn_value              0
churn_score              0
cltv                     0
churn_category        5174
churn_reason          5174
dtype: int64

,customer_id,quarter,satisfaction_score,customer_status,churn_label,churn_value,churn_score,cltv,churn_category,churn_reason
0,8779-QRDMV,Q3,3,Churned,Yes,1,91,5433,Competitor,Competitor offered more data
1,7495-OOKFY,Q3,3,Churned,Yes,1,69,5302,Competitor,Competitor made better offer
2,1658-BYGOY,Q3,2,Churned,Yes,1,81,3179,Competitor,Competitor made better offer
3,4598-XLKNJ,Q3,2,Churned,Yes,1,88,5337,Dissatisfaction,Limited range of services
4,4846-WHAFZ,Q3,2,Churned,Yes,1,67,2793,Price,Extra data charges